<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jordi.practicafinal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intents.intent1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intents.intent2" />
        <activity android:name=".calculadoraShared.SharedPrefs" />
        <activity android:name=".SQLite.ActivitySql">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SQLite.ActivitySql2">
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity android:name=".memorias.Memorias" />
        <activity android:name=".memorias.Memorias2" />
        <activity android:name=".memorias.MemoriaRaw" />
        <activity android:name=".StartActivityForResult.StartActivityFor" />
        <activity android:name=".StartActivityForResult.StartActivityFor2"></activity>
    </application>

</manifest>